.fancybox-inner,
.fancybox-outer,
.fig-img,
nav .fill ul li a,
nav.stroke ul li a {
  position: relative;
}
.div-contato,
.fwidth,
.img-hover,
article.full,
iframe,
nav.stroke ul li a:hover:after {
  width: 100%;
}
.sobre,
nav ul li a {
  text-decoration: none;
}
*,
fieldset,
hr {
  border: 0;
  padding: 0;
}
.modal-contato-itens .descricao h4,
.modal-contato-itens .descricao ul > li,
.modal-header .modal-title,
.quadro-2 p,
h1,
nav ul li a:hover {
  color: #333;
}
h3,
h4 {
  margin: 15px 0;
}
.back-box,
.blue,
.sobre {
  text-align: center;
}
.blue,
h1 {
  line-height: 32px;
}
figure:hover,
header {
  transition: 0.5s;
}
.blue,
.fig-img h2,
.fig-img2 h2,
.incomplete-box h2,
.incomplete-box h3,
.msg,
.quadro-2 h3,
.wrapper-main h2,
h1,
h2,
h3,
nav ul li a {
  text-transform: uppercase;
}
body,
section p {
  font-family: sans-serif;
}
aside h2 a,
header .right strong {
  font-size: 20px;
}
.fancybox-title,
.fancybox-tmp,
.hidden,
.invisible {
  visibility: hidden;
}
#scrollUp,
header {
  background-color: #eeb26f;
}
#breadcrumb,
.blue,
.clear,
.clearfix:after,
.fig-img2,
.grid:after,
.row,
.slicknav_menu:after,
.txt-ilust,
footer {
  clear: both;
}
.tg td,
.tg th {
  word-break: normal;
}
* {
  margin: 0;
  outline: 0;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
}
nav ul {
  list-style: none;
  text-align: right;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: 0.2s;
}
nav.fill ul li a:after,
nav.stroke ul li a:after {
  position: absolute;
  margin: auto;
  content: ".";
  background: #ecf0f1;
  transition: 0.2s ease-in-out;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  height: 3px;
  content: ".";
  color: transparent;
}
.sobre,
body,
h2 {
  color: #fff;
}
nav.txt ul li a:after {
  position: absolute;
}
nav.fill ul li a {
  transition: 2s;
}
f nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
figure {
  display: flex !important;
  justify-content: flex-end;
}
.fig-img,
.fig-img h2,
.fig-img2 h2 {
  flex-direction: column;
  display: flex;
}
.fig-img2,
.incomplete-box {
  flex-direction: column;
  position: relative;
}
.fig-img2 {
  display: flex;
  float: right;
  padding: 10px;
}
.concerto-maquina {
  margin-left: 40px;
}
.img-hover {
  height: 100%;
}
.img-hover:after {
  margin: 0 auto;
  position: absolute;
  width: 100px;
}
.conteudo-img {
  width: 100%;
  object-fit: contain;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: 1s forwards fill;
  -webkit-animation: 1s forwards fill;
  -moz-animation: 1s forwards fill;
  opacity: 1;
}
input:focus {
  border: 1px solid #58bbf2;
}
#select-mapa,
.api-mobile,
.botao,
.cd-hero-slider .cd-img-container,
.gsc-clear-button,
.gsib_b,
.gsst_a,
.gsst_a .gscb_a,
.gsst_b,
.logo-mobile,
.no-js .cd-hero-slider li,
.representante div,
.slicknav_menu,
.slicknav_nav .fa,
.slicknav_nav .slicknav_txtnode,
.slicknav_nav br,
.topofixo .topo {
  display: none;
}
.sobre,
hr {
  display: block;
}
.sobre {
  padding: 44px 10px 10px;
  height: 25px;
  transition: 0.3s linear;
  font-size: 28px;
}
hr {
  height: 1px;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}
ul {
  margin: 0;
  padding: 0;
}
fieldset {
  margin: 0;
}
textarea {
  resize: vertical;
}
button {
  cursor: pointer;
  letter-spacing: 2px;
}
body {
  font-size: 1rem;
}
#menu2 a,
h1,
h2 {
  font-family: Roboto, sans-serif;
  text-decoration: none;
}
h1 {
  font-size: 36px;
  border-bottom: 3px solid #eeb26f;
  padding-bottom: 10px;
}
h2 {
  font-size: 16px;
  margin: 20px 0;
}
h3,
h4 {
  text-decoration: none;
  color: #fefefe;
}
h3 {
  font-size: 1.15em;
  color: #333;
  text-decoration: none;
}
a {
  color: #333;
  text-decoration: none;
}
#scrollUp,
.box-produto a,
.drop-list li a,
.mapa a,
.slicknav_btn,
.slicknav_nav a,
a:hover,
aside a {
  text-decoration: none;
}
a.tel {
  text-decoration: none;
  color: inherit;
}
.li-mpi {
  list-style: disc;
  list-style: inherit;
}
p {
  padding: 4px;
  margin: 6px;
  color: #333;
  font-size: 1em;
}
.back-box {
  width: 480px;
  padding: 40px 28px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: 0.3s;
  margin: 50px auto;
}
#content-icons,
.content-msg {
  padding: 50px 0;
}
.logo-top,
[data-anime] {
  transition: 0.3s ease-in-out;
}
.blue,
header {
  margin: 0 auto;
}
.msg {
  font-weight: bolder;
  font-size: 2.2em;
  color: #09426b;
}
.msg-tiny {
  font-size: 0.7em;
}
.main-sucess {
  min-height: 70vh;
}
.topofixo #menu2 a {
  color: #fff;
  text-shadow: none;
}
.topofixo .logo img {
  width: 120px;
  transition: 0.3s;
}
.blue {
  color: #28435a;
  font-size: 2em;
  height: auto;
  padding: 20px;
  font-weight: 600;
}
.google-search {
  background-color: transparent;
  border: none;
  width: 270px;
  height: 25px;
  left: 0;
  margin-bottom: 5px;
  margin-top: -5px;
  vertical-align: middle;
}
#menu2,
.logo-top {
  height: 66px;
  display: flex;
  text-align: center;
}
.cse .gsc-control-cse,
.gsc-control-cse {
  font-family: Arial, sans-serif;
  background-color: #fff;
  border: none !important;
  margin-right: 20px;
}
.gsc-control-cse {
  font-family: Arial, sans-serif;
  background-color: transparent !important;
  border: 0;
}
.google-search input[type="submit"],
input[type="button"] {
  display: block;
  padding: 19px 39px 18px;
  color: #fff;
  background: #ecf0f1;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  margin: 10px auto;
  width: 76px !important;
  height: 55px;
}
#___gcse_1 {
  width: 100%;
  padding: 0 10px;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  border-color: #fff;
  background-color: #cb701f;
  color: #fff !important;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
  max-width: 173px !important;
  margin-left: 10px !important;
}
.logo-top {
  float: left;
  align-items: center;
}
#content-icons,
#menu2 ul {
  justify-content: space-around;
}
[data-anime] {
  opacity: 0;
}
.image,
[data-anime].animate {
  opacity: 1;
}
[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}
[data-anime="left-1"] {
  transform: translate3d(-250px, 0, 0);
}
[data-anime="left-2"] {
  transform: translate3d(-350px, 0, 0);
}
[data-anime="left-0"] {
  transform: translate3d(-20px, 0, 0);
}
[data-anime="in"],
[data-anime].animate {
  transform: translate3d(0, 0, 0);
}
[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}
[data-anime="up"] {
  transform: translate3d(0, 70px, 0);
}
[data-anime="down"] {
  transform: translate3d(0, -70px, 0);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  box-shadow: 0 1px 8px #888;
}
header .logo {
  float: left;
  margin: 20px 0;
}
header .logo img {
  width: 220px;
  transition: 0.3s;
}
header .right {
  float: right;
  text-align: right;
  color: #666;
  font-size: 12px;
  margin: 17px 0;
}
#menu2 {
  font-size: 15px;
  float: right;
  transition: 0.3s;
  width: 100%;
}
#menu2 ul {
  display: flex;
  align-items: center;
  text-align: center;
  align-items: center;
}
#menu2 li {
  position: relative;
  display: inline-block;
}
#menu2 a {
  font-weight: 700;
  font-size: 16px;
  width: 109%;
  color: #333;
  padding: 10px 30px;
  height: 46px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu2 a:hover,
#menu2 li:hover a,
.quadro-icons:hover i {
  color: #000;
}
#menu2 .dropdown .sub-menu {
  display: none;
  position: absolute;
  margin: 0;
  border-radius: 5px;
  height: 45vh;
  width: 215px;
  z-index: 7;
  background-color: #eeb26f;
}
#menu2 .dropdown .sub-menu li {
  display: flex;
  flex-wrap: wrap;
  position: static;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
#menu2 .dropdown .sub-menu li a {
  justify-content: flex-start;
  display: flex;
  width: 100%;
  font-size: 13px;
  border-radius: 5px;
  padding: 6px;
  text-align: left;
  text-decoration: none;
  color: #333;
  height: auto;
}
#menu2 .dropdown .sub-menu li a:hover {
  background-color: #c7955d;
}
#menu2 .dropdown-2 .sub-menu2::-webkit-scrollbar {
  width: 12px;
}
#menu2 .dropdown-2 .sub-menu2::-webkit-scrollbar-track {
  background: #666;
  border-radius: 5px;
}
#menu2 .dropdown-2 .sub-menu2::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}
#menu2 .dropdown-2 .sub-menu2::-webkit-scrollbar-thumb:hover {
  background: #999;
}
#menu2 .dropdown-2 .sub-menu2 {
  display: none;
  position: absolute;
  top: 0;
  border-radius: 5px;
  left: -65vw;
  margin: 0;
  height: 45vh;
  width: 65vw;
  z-index: 0;
  background: #c7955d;
  overflow-y: scroll;
}
#menu2 .dropdown-2 .sub-menu2 li:first-child {
  display: flex;
  justify-content: center;
  margin: 5px 4% !important;
  color: #333;
  text-transform: uppercase;
  font-weight: 900;
  width: 100% !important;
  border-bottom: 1px solid #444;
}
#menu2 .dropdown-2:hover .sub-menu2 li {
  float: left;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0;
  padding: 0;
}
#menu2 .dropdown-2:hover .sub-menu2 li a {
  display: flex;
  width: 100%;
  font-size: 11px;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  text-decoration: none;
  color: #333;
}
#menu2 .dropdown-2 .lista-interna li a:hover {
  background-color: #f6f6f6;
}
#menu2 .dropdown-2:hover .sub-menu2 li a:hover {
  background: #fff;
  color: #555;
}
#menu2 .dropdown-2:hover .sub-menu2,
#menu2 .dropdown:hover .sub-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
article strong {
  font-weight: 700;
  font-size: 14px;
}
article h2 strong {
  font-weight: 600;
  font-size: 20px;
}
article .thumbnails-mod17 strong {
  font-weight: bolder;
  font-size: 16px;
}
.busca-relacionadas {
  width: 100%;
  padding: 20px 0 10px;
  margin-bottom: 0;
}
.btn-space {
  height: 90px;
  float: left;
  width: 100%;
}
.video-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 1140px;
}
.wrapper-above {
  padding-left: 40px;
  padding-top: 220px;
}
.container {
  height: auto;
  position: relative;
}
.randomClass {
  height: 30px;
  width: 100%;
  background-color: #deb887;
}
.wrapper-copy {
  max-width: 100%;
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.main,
main {
  min-height: 650px;
}
.wrapper-main {
  height: auto;
  margin: 0 auto;
  width: 100%;
  background: 0 0 / cover #eee;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.main-center {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.incomplete-box,
.quadro-2 {
  margin-top: 60px;
  padding: 25px;
  transition: 0.3s;
  border-radius: 2px;
}
.wrapper-main h2 {
  color: #28435a;
  text-align: justify;
}
.wrapper-main-dg {
  background-image: linear-gradient(135deg, #f5f7fa 0, #c3cfe2 100%);
}
.icons-area {
  width: 100%;
  background-image: linear-gradient(to top, #2f3640 0, #333 100%);
  bottom: 0;
  height: 180px;
}
.incomplete-box {
  width: 45%;
  font-size: 1.4em;
  height: auto;
  background-color: #fff;
  display: flex;
  color: #333;
  box-shadow: 3px 0 11px -2px rgba(0, 0, 0, 0.3);
}
.incomplete-box img {
  width: 101%;
}
.incomplete-box p {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}
.incomplete-box li {
  padding: 5px 10px;
  font-weight: 500;
}
.incomplete-box h2 {
  font-size: 1.1em;
  padding: 0 10px;
  border-left: 3px solid #ffcd24;
}
.incomplete-box h3 {
  color: #fff;
  font-size: 28px;
  font-family: Raleway, sans-serif;
  width: 150px;
  height: 36px;
  position: relative;
  z-index: 1;
}
.quadro-2 h3,
.quadro-2 h4 {
  font-family: "open sans", sans-serif;
}
.incomplete-box h3:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 50%;
  border-bottom: 5px solid #fff;
}
.incomplete-box::after,
.incomplete-box::before {
  content: "";
  position: absolute;
  height: 120px;
  width: 9px;
  right: 0;
}
.incomplete-box::after {
  top: 0;
  height: 50px;
}
.incomplete-box::before {
  bottom: 0;
}
.quadro-2 {
  width: 50%;
  background: #fff;
  font-size: 1.1em;
  font-weight: 500;
  text-align: center;
  margin-right: 40px;
  right: 0;
  -webkit-box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 3px 0 11px -2px rgba(0, 0, 0, 0.3);
}
.fundo-img,
.image {
  border-radius: 5px;
}
.quadro-2 h3,
li,
ul {
  text-align: left;
  color: #333;
  font-size: 15px;
  font-weight: 500;
  list-style: none;
}
.quadro-2 h3 {
  font-size: 28px;
  color: #ecf0f1;
}
.quadro-2 h4 {
  color: #333;
  font-size: 16px;
}
.quadro-2 img {
  border-radius: 2px;
  width: 370px;
}
.main-content {
  width: 1140px;
  max-width: 100%;
  display: inline-block;
  padding-top: 20px;
}
.main-content p {
  width: 570px;
  text-align: left;
}
.btn-4,
.middle {
  text-align: center;
}
.wrapper,
.wrapper-form {
  max-width: 100%;
  width: 1140px;
  margin: 0 auto;
}
.wrapper-intro,
.wrapper-intro .wrapper {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  margin: 0 auto;
}
.wrapper-intro .wrapper {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  max-width: 1140px;
  max-height: 625px;
  flex-direction: column;
}
.wrapper-intro {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
#breadcrumb,
.picture-legend,
article p,
footer a {
  display: inline-block;
}
.wrapper-intro h1 {
  font-size: 4em;
  color: #fff;
  margin: 0.65em 0;
  text-transform: capitalize;
  border-bottom: none;
  text-shadow: 1px 1px 4px #000;
  font-weight: 900;
}
.form-style-5 h1,
.middle h4,
.thumbnails li,
.thumbnails li p,
.thumbnails-2 li,
.thumbnails-2 li p,
.thumbnails-main li,
.thumbnails-main li p,
aside {
  text-transform: uppercase;
}
.wrapper-intro h2 {
  margin: 1.5em auto;
  color: #fff;
  text-shadow: 1px 1px 1px #080808;
}
.wrapper-intro p {
  color: #fff;
  letter-spacing: 0.032em;
  margin: 1.5em 0;
  padding: 0 100px 0 0;
  text-shadow: 1px 1px 1px #000;
}
.wrapper-destaque {
  max-width: 100%;
  margin: 0 auto;
}
.destaque {
  padding: 20px 5px;
  transition: 0.5s ease-in-out;
  width: 1140px;
  max-width: 95%;
  margin: 0 auto;
}
.destaque:hover {
  -moz-box-shadow: 1px 2px 13px -2px rgba(0, 0, 0, 0.75);
}
.destaque h2,
.produtos-destaque-wrapper h2,
.wrapper-img h2 {
  color: #64656e;
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 40px;
}
.arrow {
  color: #ecf0f1;
  padding-bottom: 20px;
  height: 45px;
  width: 45px;
  box-sizing: border-box;
  margin: 0 auto;
}
section {
  float: left;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}
section p {
  font-size: 14px;
  text-align: justify;
  color: #444;
}
article {
  float: left;
  width: 74%;
}
.col-9.nova-api p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
article .alerta {
  font-size: 12px;
  color: #444;
  font-weight: 700;
}
#breadcrumb {
  width: 100%;
  color: #0b1933;
  font-size: 12px;
  margin: 40px 0 0;
}
#breadcrumb div {
  display: inline;
}
#breadcrumb a {
  color: #666;
  text-decoration: none;
}
#breadcrumb a:hover {
  color: #bbb;
  text-decoration: none;
}
.list {
  margin: 0 0 20px 40px;
}
.list li {
  list-style: disc;
  margin: 6px 0;
  line-height: 1.5em;
  font-size: 14px;
}
.picture-legend {
  padding: 3px;
}
.picture-legend p {
  clear: both;
  display: block;
  text-align: right;
  font-weight: 400;
  padding: 4px;
  font-size: 9px;
  margin: 0;
}
.btn-intro:active,
.middle h4,
.subtitulo-map {
  font-weight: 700;
}
.picture-legend img {
  margin: 0 auto;
  display: block;
}
.picture-left {
  float: left;
  margin: 0 10px 0 0;
  max-width: 50%;
}
.image,
aside,
header .topo .social {
  float: right;
}
.picture-right {
  float: right;
  margin: 0 0 0 10px;
  max-width: 50%;
}
.picture-center {
  margin: 10px 10px 0 auto;
  display: block;
  background: #ddd;
  color: #333;
}
.btn,
.fundo-img,
.image,
header .topo .social {
  display: inline-block;
}
.btn,
.topo,
.topo a {
  color: #fff;
}
.btn {
  text-decoration: none;
  background: #1c6299;
  padding: 10px 15px;
  margin: 2.25em auto;
  font-size: 14px;
  transition: 0.3s;
  box-shadow: 0 12px 42px 0 rgba(0, 0, 0, 0.2);
}
.btn:hover,
.gallery li:hover,
.gsc-search-button .gsc-search-button-v2:hover,
.thumbnails li:hover h2,
.thumbnails li:hover img,
.thumbnails-2 li:hover h2,
.thumbnails-2 li:hover img,
.thumbnails-main li:hover h2,
.thumbnails-main li:hover img {
  opacity: 0.9;
}
.topo {
  background: #ecf0f1;
  font-size: 13px;
  padding: 8px 10px;
}
.topo a {
  margin: 0 10px;
  text-decoration: none;
}
.conteudo-index h1,
.conteudo-index h2,
.conteudo-index p,
aside li a {
  color: #444;
}
.conteudo-index {
  background: #efefef;
  box-sizing: border-box;
  padding: 10px 0;
}
.subtitulo-map {
  color: #333;
  font-size: 1.2em;
}
.fundo-img {
  position: relative;
  margin: 20px 35px;
  background-color: #ffcd24;
}
.image {
  width: 100%;
  transition: 0.5s;
  backface-visibility: hidden;
}
.image:hover {
  transform: scale(1.05);
}
.middle {
  position: absolute;
  padding-top: 20px;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  font-family: Raleway, sans-serif;
}
.middle h4 {
  color: #fff;
  padding: 0 20px;
  font-size: 1.3em;
  margin-bottom: 50px;
}
.fundo-img:hover .image {
  opacity: 0.2;
}
.copyright-footer .selos a:hover,
.fundo-img:hover .middle,
img.lazy.loaded {
  opacity: 1;
}
.text {
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  padding: 16px 32px;
}
.btn-4:before,
.btn-5:before,
.btn-6:before,
.btn-produto:before {
  position: absolute;
  height: 100%;
  font-size: 125%;
  line-height: 3.5;
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.btn-4:active:before,
.btn-5:active:before,
.btn-6:active:before,
.btn-produto:active:before {
  color: #9e4c03;
}
.btn-4 {
  color: #fff;
  overflow: hidden;
  padding: 14px 0;
  background-color: #078700;
  border-radius: 2px;
  transition: 0.3s;
  margin: 49px auto 0;
  display: block;
  width: 239px;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 2px 0 19px -2px #34495e;
  box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
}
.btn-5,
.btn-6 {
  color: #fff;
  padding: 5px 0;
  text-align: center;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  overflow: hidden;
}
.btn-4:hover {
  box-shadow: none;
  background-color: #f90e;
}
.btn-produto,
.mpi-produtos img {
  -webkit-box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
}
.btn-5,
.btn-produto,
.mpi-produtos img {
  -moz-box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
}
.btn-5 {
  margin-left: 450px;
  margin-top: 15%;
  width: 100px;
  max-width: 100%;
  position: relative;
}
.btn-5:hover,
.btn-6:hover {
  border-bottom: 3px solid #fff;
}
.btn-6 {
  margin-left: 20px;
  margin-top: 30%;
  width: 108px;
}
.btn-produto {
  color: #eee;
  overflow: hidden;
  text-align: center;
  background-color: #ffcd24;
  padding: 13px 0;
  transition: 0.3s;
  margin: 18px auto;
  display: block;
  width: 256px;
  cursor: pointer;
  border: 3px solid #ffcd24;
  box-shadow: 2px 0 19px -2px #34495e;
  border-radius: 5px;
  box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
}
.thumbnails,
.thumbnails-main {
  display: inline-block;
  position: relative;
  text-align: center;
  list-style: none;
}
.btn-produto:hover {
  background: #f1c40f;
  color: #fff;
  border: 3px solid transparent;
  box-shadow: none;
}
.wrapper-btn {
  padding: 55px 0;
  margin: 0 auto;
}
.btn-intro {
  width: 120px;
  height: 24px;
  margin: 0 50px 0 0;
  background-color: #dc6b0e;
  border-radius: 2px;
  color: #fff;
  transition: 0.3s;
  box-shadow: 0 12px 42px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 9px -1px rgba(0, 0, 0, 0.5);
}
.btn-intro:hover {
  box-shadow: none;
  box-shadow: 0 12px 42px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #92480b;
  -webkit-box-shadow: inset 0 2px 23px -8px rgba(0, 0, 0, 0.75);
  border: transparent;
  -moz-box-shadow: inset 0 6px 34px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
}
.btn-saiba {
  background-color: transparent;
  width: 265px;
  height: 55px;
  border: 3px solid #ecf0f1;
  color: #ecf0f1;
  border-radius: 2px;
  box-shadow: 0 12px 42px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0 5px;
}
.btn-quadro,
.btn-quadro-menu {
  width: 205px;
  height: 55px;
  box-shadow: 0 12px 42px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.btn-saiba:hover {
  background-color: #fff;
  border: none;
  color: #000;
  border-radius: 2px;
}
.btn-quadro {
  background-color: #ecf0f1;
  color: #fff;
  margin: 68px 20px;
}
.btn-quadro:hover {
  background-color: #ecf0f1;
  color: #fff;
}
.btn-quadro-menu {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  margin: 10px 20px;
  font-weight: 600;
  padding: 15px 55px;
  border-radius: 5px;
}
.btn-quadro-menu:hover {
  background-color: #fff;
  color: #ecf0f1;
}
.thumbnails-main {
  display: flex;
  flex-wrap: wrap;
}
.thumbnails img,
.thumbnails-2 img,
.thumbnails-main img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.3s;
}
.thumbnails-main h2 {
  background: #1c6299;
  height: 22px;
  padding: 8px 0;
  margin-top: 0;
  transition: 0.3s;
}
.thumbnails-main a {
  text-decoration: none;
  display: flex;
  margin: 0 auto;
}
.thumbnails-main li {
  transition: 0.3s;
  float: left;
  width: 230px;
  height: 235px;
  padding: 30px;
  margin: 20px auto;
  border: 1px solid #dedede;
  background: #fff;
  position: relative;
  font-size: 10px;
  justify-content: center;
  text-align: center;
}
.thumbnails-main li img {
  width: 230px;
  height: 200px;
}
.gallery img:hover,
.thumbnails-main li:hover {
  transform: scale3d(1.05, 1.05, 1.05);
  box-shadow: 3px 0 11px -2px rgba(0, 161, 255, 0.4);
}
.thumbnails-main li:hover img {
  border: 0 solid #dedede;
}
.thumbnails li,
.thumbnails li:hover img,
.thumbnails-2 li:hover img {
  border: 1px solid #dedede;
}
.thumbnails li p,
.thumbnails-2 li p,
.thumbnails-main li p {
  text-align: center;
  color: #666;
  font-weight: 400;
  font-size: 10px;
}
.thumbnails h2,
.thumbnails h3,
.thumbnails h4,
.thumbnails-2 h2,
.thumbnails-2 h3,
.thumbnails-2 h4,
.thumbnails-main h2,
.thumbnails-main h3,
.thumbnails-main h4 {
  text-align: center;
  line-height: 13px;
}
.thumbnails-2 h2,
.thumbnails-main h2 {
  font-size: 13px;
}
.thumbnails-main h2 a,
.thumbnails-main h3 a,
.thumbnails-main h4 a {
  font-size: 11px;
  color: #2f4b71;
  font-weight: 700;
  line-height: 13px;
  text-align: center;
  justify-content: center;
  margin: 10px auto;
}
.thumbnails-main li .botao,
.thumbnails-main li .botao-cotar {
  padding: 5px 10px;
  color: #fff;
  margin: 0 0 30px 15px;
  font-size: 14px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
}
.thumbnails a:hover,
.thumbnails-2 a:hover,
.thumbnails-main a:hover {
  text-decoration: underline;
}
.thumbnails li .botao,
.thumbnails-2 li .botao,
.thumbnails-2 li .botao-cotar,
.thumbnails-main li .botao,
.thumbnails-main li .botao-cotar {
  background: #f98c18;
  text-decoration: none;
}
.botao-cotar-destaque:hover,
.thumbnails li .botao:hover,
.thumbnails-2 li .botao:hover,
.thumbnails-main li .botao:hover {
  background-color: #469b42;
}
.thumbnails-2 li .botao-cotar:hover,
.thumbnails-main li .botao-cotar:hover {
  background-color: #167ac6;
}
.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.thumbnails h2 {
  background: #1c6299;
  height: 22px;
  padding: 8px 0;
  transition: 0.3s;
}
.thumbnails li {
  text-align: center;
  transition: 0.3s;
  float: left;
  width: 174px;
  height: auto;
  min-height: 395px;
  padding: 13px;
  margin: 5px 4px 30px;
  background: #fff;
  position: relative;
  font-size: 10px;
}
.thumbnails li img {
  height: 174px;
  width: 100%;
  max-width: 180px;
  border: 1px solid #fff;
  object-fit: contain;
}
.thumbnails li:hover,
.thumbnails-2 li:hover {
  box-shadow: 0 0 15px #999;
}
.thumbnails h2 {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  margin: 0 auto 109px;
  left: 0;
  right: 0;
}
.thumbnails h2 a,
.thumbnails h3 a,
.thumbnails h4 a,
.thumbnails-2 h2 a,
.thumbnails-2 h3 a,
.thumbnails-2 h4 a {
  font-size: 11px;
  color: #2f4b71;
  font-weight: 700;
  line-height: 13px;
}
.thumbnails li .botao,
.thumbnails li .botao-cotar {
  padding: 5px;
  color: #fff;
  margin: 0 0 20px 5px;
  font-size: 14px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
}
.thumbnails a {
  color: #fff;
  text-decoration: none;
  display: flex;
  width: 150px;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
}
.thumbnails li .botao-cotar {
  background: #078700;
  text-decoration: none;
  border-radius: 5px;
}
.no-touch .cd-hero-slider .cd-btn:hover,
.thumbnails li .botao-cotar:hover,
a.botao-cotar:hover {
  background-color: #f80e;
}
.thumbnails-2 {
  display: inline-block;
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.thumbnails-2 p {
  margin: 0;
  font-weight: 500;
}
.thumbnails-2 h2 {
  background: #1c6299;
  height: 30px;
  padding: 8px 0;
  margin-top: 0;
  transition: 0.3s;
}
.thumbnails-2 a {
  color: #fff;
  text-decoration: none;
}
.thumbnails-2 li {
  text-align: center;
  transition: 0.3s;
  float: left;
  width: 325px;
  height: auto;
  padding: 13px;
  margin: 5px 4px 30px;
  border: 1px solid #dedede;
  background: #fff;
  position: relative;
  font-size: 10px;
}
.thumbnails-2 li img {
  width: 198px;
  height: 174px;
  border: 1px solid #fff;
}
.thumbnails-2 li .botao,
.thumbnails-2 li .botao-cotar {
  padding: 5px 10px;
  color: #fff;
  margin: auto;
  font-size: 14px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}
aside h2 a,
aside li a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  flex-direction: column;
}
aside {
  width: 23%;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}
aside h2 a {
  margin: 0;
  border-bottom: 3px solid #ecf0f1;
  background: 0 0;
  color: #333;
}
aside nav {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
aside li {
  border-bottom: 1px solid #005090;
}
aside li a {
  font-size: 12px;
  line-height: 16px;
}
.more h2 strong,
aside strong {
  font-size: 16px;
}
aside nav li a:hover {
  background-color: #c7c7c7;
  width: 96%;
}
aside h3 {
  color: #fff;
  background: #2a60c2;
  padding: 10px 0;
  margin-bottom: 0;
  text-align: center;
}
aside p {
  background: #eee;
  border-bottom: 1px solid #ccc;
  margin: 0;
  text-align: center;
}
aside strong {
  line-height: 34px;
  color: #666;
}
.more {
  margin-bottom: 20px;
}
.gallery {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-conteudo {
  width: 48%;
  height: auto;
  float: left;
  margin: 0 auto;
  padding: 0 5px;
}
.form-conteudo-1 {
  width: 50%;
  height: auto;
  float: right;
}
.form-obrigatorio {
  color: #f50000;
}
.form-style-5 h1 {
  font-size: 1.8em;
  color: #595959;
  padding: 0 109px;
  text-align: center;
  border-bottom: none;
}
.form-style-5 p {
  font-size: 1em;
  color: #595959;
  font-weight: 900;
  margin: 0 100px;
  text-align: center;
}
.form-style-5 {
  max-width: 100%;
  display: inline-block;
  padding: 5px 5px 0 10px;
  margin: 10px;
  border: 1px solid #ddd;
  background-color: #eee;
  background-size: cover;
  -webkit-background-size: cover;
  border-radius: 2px;
}
.form-style-5 fieldset {
  border: none;
  display: inline-block;
}
.form-style-5 legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.form-style-5 label {
  margin: 0 auto;
  color: #333;
}
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="text"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 select,
.form-style-5 textarea[type="mensagem"] {
  background: #fff;
  border: 1px solid #b2b2b2;
  font-size: 12px;
  outline: 0;
  height: 50px;
  border-radius: 2px;
  padding: 5px;
  width: 98.5%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #333;
  margin: 10px 0;
}
.copyright-footer .selos a,
footer .social .social-icons {
  margin: 0 0 0 5px;
  transition-property: all;
  transition-duration: 0.3s;
}
.form-style-5 textarea {
  background: #fff;
  height: 155px;
  border: 1px solid #b2b2b2;
  width: 98%;
  margin-bottom: 35px;
}
.form-style-5 textarea:focus {
  background: #ddd;
}
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 select:focus {
  background: #eee;
  height: 50px;
}
.form-style-5 select {
  -webkit-appearance: menulist-button;
  height: 35px;
}
.form-style-5 .number {
  background: #1c4183;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
input[type="button"],
input[type="submit"] {
  background-color: #64656e;
  width: 98%;
  height: 55px;
  margin: 7px auto 7px 0;
  border-radius: 2px;
  color: #fff;
  transition: 0.3s;
  box-shadow: 0 12px 42px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 14px -1px rgba(0, 0, 0, 0.6);
}
.centralizar,
.gallery ul,
.input-group-btn .btn-primary {
  margin: 0 auto;
}
input[type="button"]:hover,
input[type="submit"]:hover {
  box-shadow: none;
  background-color: #64656e;
}
.centralizar {
  display: table;
}
.estilo-formulario {
  font-size: 1.6em;
  color: #000;
  background-color: #fff;
}
.gallery li {
  float: left;
  text-align: center;
  transition: 0.3s;
  padding: 0 5px;
}
.gallery li img {
  width: 200px;
  border-radius: 2px;
  height: 200px;
  object-fit: cover;
  margin: 10px 6px;
  transition: 0.3s;
  transform: scale3d(1, 1, 1);
  box-shadow: 3px 0 11px -2px rgba(0, 0, 0, 0.3);
}
p.ampliar {
  color: #f30;
  font-size: 11px;
  margin: 0;
}
.container,
.fleft,
.form-cotacao .dados-cotacao {
  float: left;
}
@media screen and (max-width: 640px) {
  .container {
    display: block;
  }
}
@media screen and (min-width: 900px) {
  .container {
    padding: 0;
  }
}
.container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}
.content {
  position: relative;
  margin: 50px auto;
}
.content h2 {
  color: #28435a;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 25px;
  background: 0 0;
  width: 100%;
  font-size: 17px;
  padding: 0;
}
#title-empresa h2,
.content-details h3 {
  font-weight: 500;
  text-transform: uppercase;
}
.content .content-overlay {
  background: #333;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.conheca-bloco li:hover,
.content:hover .content-overlay {
  opacity: 0.8;
}
.content-contato {
  padding-top: 50px;
}
.content-image {
  min-width: 100%;
  width: auto;
  height: auto;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-top: 40px;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.conetent-details p,
.img-mpi,
.mapa h2,
.txtcenter {
  text-align: center;
}
.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3 {
  color: #fff;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
}
.content-details p {
  color: #fff;
  font-size: 0.8em;
}
.quadro-hover {
  margin: 25px;
}
.related-posting-title {
  font-size: 22px;
}
.related-posting {
  list-style: none;
  margin: 0;
  padding: 0;
}
.row {
  display: block;
  background: #e8e8e8;
  border-left: 5px solid #ccc;
  padding: 10px 20px;
  transition: 0.3s linear;
  min-height: 85px;
  margin: 5px 0;
  overflow: hidden;
}
.row:hover {
  border-left: 3px solid #dc6b0e;
}
.row img {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  margin: 0 10px 0 0;
}
.row p {
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 0;
}
.row a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
}
.row p a {
  color: #69747b;
}
.p-tiny,
.row strong {
  font-size: 12px;
}
.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#servicosTabs .list-wrap,
#servicosTabsDois .list-wrap {
  background: #e8e8e8;
  font-weight: 700;
  padding: 10px;
  margin: 0 10px 15px;
  font-size: 10px;
  border: 1px solid #ccc;
}
#servicosTabs ul,
#servicosTabsDois ul {
  list-style: none;
  display: inline-block;
}
#servicosTabs .list-wrap li,
#servicosTabsDois .list-wrap li {
  width: 160px;
  float: left;
  color: #666;
  font-size: 12px;
}
#servicosTabs .nav,
#servicosTabsDois .nav {
  overflow: hidden;
  margin: 0 0 0 10px;
  padding: 0;
}
#servicosTabs .nav li,
#servicosTabsDois .nav li {
  float: left;
  margin: 10px 10px 0 0;
}
#servicosTabs .nav li.last,
#servicosTabsDois .nav li.last {
  margin-right: 0;
}
#servicosTabs .nav li a,
#servicosTabsDois .nav li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  background: #f7f7f7;
  color: #666;
  font-size: 12px;
  text-align: center;
  border: 1px solid #ccc;
}
#servicosTabs .nav li a:focus,
#servicosTabs .nav li a:hover,
#servicosTabsDois .nav li a:focus,
#servicosTabsDois .nav li a:hover {
  background: #999;
  color: #fff;
}
#servicosTabs ul li.nav-two a.current,
#servicosTabsDois ul li.nav-two a.current {
  background-color: #e8e8e8;
  color: #666;
  border: 1px solid #ccc;
}
.copyright,
.copyright a {
  font-size: 10px;
  color: #666;
}
footer {
  padding: 15px;
  background-color: #333;
}
footer .img-logo {
  max-width: 110px;
  max-height: 75px;
}
.contact-footer {
  float: left;
  color: #fff;
  margin-right: 30px;
}
.contact-footer strong {
  font-size: 18px;
}
.contact-footer a {
  text-decoration: none;
  color: #fff;
}
footer address {
  margin: 0 0 10px;
  font-size: 12px;
  font-style: normal;
  line-height: 15px;
}
footer address span {
  margin: 0 0 5px;
  font-size: 14px;
  font-weight: 700;
  display: block;
}
.txtright,
footer .menu-footer {
  text-align: right;
}
#box-cotacao-enviada p,
.col-7,
.txtleft {
  text-align: left;
}
footer .menu-footer nav {
  margin: 3px 0;
}
footer .menu-footer nav li {
  display: inline;
  padding: 0 10px 0 0;
}
footer .menu-footer nav li a {
  color: #eee;
  font-size: 13px;
  text-decoration: none;
}
footer .menu-footer nav li a:hover {
  color: #396c98;
}
footer .social {
  margin: 15px 0 0;
  float: right;
}
footer .social .social-icons:hover {
  opacity: 1;
  background: #ecf0f1;
  color: #af601b;
}
footer .social .social-icons {
  width: auto;
  padding: 10px;
  display: block;
  float: right;
  font-size: 18px;
  background: #ecf0f1;
  color: #fff;
  min-width: 25px;
  min-height: 20px;
  text-align: center;
}
.copyright-footer {
  text-align: left;
  font-size: 10px;
  color: #c5bec4;
  background: #1d1c1c;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 35px;
  flex-direction: column;
}
.copyright-footer .selos {
  float: right;
  margin-right: 82px;
}
.copyright-footer .selos strong {
  background: #fff;
  color: #363b36;
  padding: 0 5px;
}
.copyright-footer .selos a {
  color: #b7b7b7;
  text-decoration: none;
  opacity: 0.8;
}
.contact {
  display: block;
  width: 100%;
}
.form {
  float: left;
  width: 50%;
}
.form label {
  width: 185px;
  font-weight: 700;
  padding-right: 5px;
  font-size: 13px;
  display: table-cell;
  vertical-align: middle;
  color: #000;
}
.form label span {
  font-size: 9px;
  color: #c00;
}
.form input,
.form select,
.form textarea {
  background: #e5e5e5;
  border: 1px solid #b2b2b2;
  font-size: 12px;
  outline: 0;
  padding: 10px 5px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #8a97a0;
  margin: 12.2px auto;
}
input #ddd {
  width: 17%;
}
input #telefone {
  width: 59%;
}
@media screen and (max-width: 420px) {
  .form input,
  .form select,
  .form textarea {
    width: 100%;
  }
  input #ddd {
    width: 30%;
  }
  input #telefone {
    width: 67%;
  }
}
.form textarea {
  width: 100%;
  font-family: fonte;
  margin-bottom: 18px;
}
.form input:focus,
.form select:focus,
.form textarea:focus {
  background: #eee;
}
.form .ir {
  padding: 10px 18px;
  background-color: #64656e;
  color: #fff;
  cursor: pointer;
  width: 100%;
  transition: 0.3s ease-in-out;
  font-size: 20px;
  border: none;
  font-weight: 700;
}
.form .ir:hover {
  background: #28435a;
}
.bt-submit {
  display: flex;
  justify-content: center;
  font-size: 28px;
}
.contact-form,
.help {
  font-size: 11px;
}
span.obrigatorio {
  font-size: 0.6em;
  color: #333;
  margin: 0 0 10px 10px;
}
.contact-form strong,
.help {
  color: #666;
}
.form label.error {
  display: block;
  color: red;
  margin: 0 0.5em 0 0;
  vertical-align: top;
  font-size: 10px;
}
.alert {
  color: red;
}
.contact-form {
  float: right;
  color: #989898;
  width: 50%;
  padding: 10px 20px;
}
.container-contato {
  width: 100%;
  padding-top: 20px;
}
.msg-404 {
  position: relative;
  font-size: 22px;
  line-height: 34px;
  color: #a7a9ac;
  margin-bottom: 30px;
}
.menu-404 {
  background: #f8f8f8;
  width: 95%;
  padding: 15px;
  margin-bottom: 20px;
  float: left;
}
.menu-404 a {
  display: block;
  margin: 0 auto;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.clearfix:after,
.clearfix:before,
.slicknav_menu:after,
.slicknav_menu:before {
  content: " ";
  display: table;
}
.grid {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
.grid:after {
  content: "";
  display: block;
}
[class*="col-"] {
  float: left;
  box-sizing: border-box;
}
.form-flex {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
  margin-top: 30px;
}
.col-4 {
  width: 33.33%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
  padding: 0 0 10px 20px;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12,
.wrapper-img2 {
  width: 100%;
  margin: 0 auto;
}
.col-none {
  float: none;
}
.col-13 {
  background-color: #ddd;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
  height: 400px;
}
.pd {
  padding: 0;
}
.drop-list li .fa-sort-desc,
.fright {
  float: right;
}
.center-block {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
}
#title-empresa h2 {
  font-size: 14px;
  background: #e9e9e9;
  padding: 4px 10px;
  line-height: 15px;
  color: #717171;
  text-decoration: none;
  margin: 0 0 50px;
}
#title-keyword h3 {
  font-size: 12px;
  padding: 0 10px;
  line-height: 15px;
  color: #717171;
  text-decoration: none;
  margin: 0 0 10px;
}
.fancybox-image,
.fancybox-inner,
.fancybox-nav,
.fancybox-nav span,
.fancybox-outer,
.fancybox-skin,
.fancybox-tmp,
.fancybox-wrap,
.fancybox-wrap iframe,
.fancybox-wrap object {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  margin-top: 50px;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.fancybox-inner,
.fancybox-lock body {
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-iframe,
.fancybox-image {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-close,
.fancybox-nav span {
  width: 36px;
  z-index: 8040;
  position: absolute;
  cursor: pointer;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading,
.fancybox-close,
.fancybox-next span,
.fancybox-prev span {
  background-image: url(images-fancy/fancybox_sprite.png);
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(images-fancy/fancybox_loading.gif) center center no-repeat;
}
.fancybox-close {
  top: -18px;
  right: -18px;
  height: 36px;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: url(images-fancy/blank.gif);
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  top: 50%;
  height: 34px;
  margin-top: -18px;
  visibility: hidden;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-nav:hover span,
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible;
}
.fancybox-lock {
  overflow: hidden;
  width: auto;
}
.fancybox-lock-test {
  overflow-y: hidden;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(images-fancy/fancybox_overlay.png);
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
.fancybox-title {
  font: 400 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 2px #222;
  color: #fff;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
}
.no-js .cd-hero-slider li.selected,
.slicknav_nav .slicknav_row,
.slicknav_nav a,
.slicknav_nav li,
.slicknav_nav ul,
.txt-ilust,
fieldset .bt-submit {
  display: block;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
}
.landing,
.mapa,
.representante,
.slicknav_btn,
figure {
  position: relative;
}
.active-menu-aside {
  background-color: #ecf0f1;
  width: 96%;
}
#scrollUp {
  position: fixed;
  z-index: 9;
  right: 30px;
  width: 70px;
  height: 55px;
  margin-bottom: -10px;
  padding: 10px 5px;
  font: 14px/20px sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #333;
  color: #fff;
  border-radius: 2px 2px 0 0;
  -moz-transition: margin-bottom 150ms linear;
  -o-transition: margin-bottom 150ms linear;
  transition: margin-bottom 150ms linear;
  -webkit-box-shadow: 0 -5px 36px -3px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0 -5px 36px -3px rgba(0, 0, 0, 0.38);
  box-shadow: 0 -5px 36px -3px rgba(0, 0, 0, 0.38);
}
#scrollUp:hover {
  margin-bottom: 0;
  background-color: #c7955d;
}
#box-cotacao-enviada h4,
.wrapper-main-dg .gallery {
  padding-left: 0;
}
.txt-ilust {
  text-align: right;
  font-weight: 400;
  font-size: 9px;
}
.co-icon,
.co-icon p,
.container-img {
  text-align: center;
}
.txt-ilust p {
  padding: 0;
  margin: 0;
}
.box-produto img {
  max-width: 100%;
}
.box-produto .botao {
  background: #fff;
  padding: 5px 10px;
  border: 1px solid #333;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.busca-relacionadas b,
.busca-relacionadas ul li {
  font-size: 10px;
  float: left;
  color: #333;
}
.busca-relacionada a {
  padding: 0 2px;
}
.box-produto h3 {
  color: #666;
  font-weight: 400;
  margin: 5px 0;
}
.box-produto {
  margin: 5px;
  border: 1px solid #d7d7d7;
  background-color: #fff;
}
.no-touch .cd-slider-nav li.selected a:hover,
.quadro-icons {
  background-color: transparent;
}
.box-produto .grid .col-3 a img {
  width: 183px;
  height: 183px;
  vertical-align: bottom;
  object-fit: cover;
}
.col-3 h2 {
  font-size: 1.1em !important;
}
embed {
  width: 100%;
  min-width: 375px;
  height: 225px;
  min-height: 225px;
}
#fundo-contato {
  width: 534px;
  height: 100px;
  margin-left: 32px;
  margin-top: -8px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
#content-icons,
.content-icons {
  align-content: center;
  height: auto;
  clear: both;
  max-width: 100%;
  display: flex;
}
#content-icons {
  width: 1140px;
  margin: 0 auto;
  align-items: center;
}
.content-icons {
  overflow: hidden;
  width: auto;
  margin: 0 auto 25px;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
  flex-wrap: wrap;
}
.quadro-icons {
  width: 325px;
  height: 210px;
  float: left;
  padding-top: 15px;
  margin: 20px 0 0;
  border-top: 50px;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
}
.co-icon {
  display: flex;
  flex-direction: column;
}
.co-icon p {
  color: #333;
  font-size: 16px;
  transition: 0.3s;
}
.co-icon i {
  padding: 0 15%;
  color: #333;
  font-size: 110px;
}
.wrapper-img {
  width: 100%;
  min-height: 450px;
  height: auto;
  background-color: #fff;
}
.fig-img,
.fig-img2 {
  height: 100%;
  background: rgba(66, 66, 66, 0.33);
}
.container-img {
  width: 1140px;
  max-width: 100%;
  margin: 10px auto;
  justify-content: space-around;
}
figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 100px;
  display: flex;
  justify-content: flex-end;
}
.fig-img,
.fig-img h2,
.fig-img2 h2 {
  flex-direction: column;
  display: flex;
  font-weight: 700;
  clear: both;
}
.fig-img {
  width: 100%;
  float: right;
  padding: 10px;
  text-align: right;
}
.fig-img h2,
.fig-img2 h2 {
  opacity: 1;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.3em;
  text-shadow: 2px 3px 2px #333;
}
.fig-img2 {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  width: 100%;
  text-align: left;
}
figure img {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.div-img {
  display: flex;
  margin: 10px;
}
.imagen-principal {
  margin-right: 120px;
  margin-top: 20px;
}
.img-mpi img {
  width: 250px;
  height: 250px;
  border: 2px solid #dc6b0e;
  padding: 10px;
  margin: 0 2px;
}
.mpi-produtos h1,
.mpi-produtos-2 h1 {
  border-bottom: transparent;
  text-align: left;
}
.mpi-produtos,
.mpi-produtos-2 {
  width: 100%;
  max-width: 1280px;
}
.img-empresa,
.wrapper-fixa {
  max-width: 100%;
  margin: 0 auto;
}
.mpi-produtos h1 {
  margin-left: 42px;
}
.mpi-produtos img {
  width: 400px;
  height: 480px;
  box-shadow: 2px 0 19px -2px #34495e;
  border-radius: 5px;
  box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
  object-fit: cover;
}
.mpi-produtos p {
  padding: 0 40px;
}
.mpi-produtos ul li {
  color: #333;
  padding: 0 45px;
}
.mpi-produtos-2 h1 {
  margin-left: 36px;
}
.mpi-produtos-2 img {
  width: 450px;
  height: 480px;
  margin-top: 65px;
  -webkit-box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 2px 0 19px -2px #34495e;
  border-radius: 5px;
  box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
}
.mpi-produtos-2 h2 {
  margin: 0 35px;
}
.mpi-produtos-2 p {
  padding-right: 70px;
}
.produtos-relacionados-1 {
  width: 100%;
  height: 400px;
  background: url("../imagens/img-home/banheiro-de-marmore.jpg") center
    top/cover no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  float: right;
}
.produtos-relacionados-2 {
  width: 100%;
  height: 400px;
  background: url("../imagens/img-home/cozinha-de-marmore.jpg") center/cover
    no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.produtos-relacionados-3 {
  width: 100%;
  height: 400px;
  background: url("../imagens/img-home/lavanderia-de-marmore.jpg") center
    center/cover no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.produtos-relacionados-1:hover,
.produtos-relacionados-2:hover,
.produtos-relacionados-3:hover {
  transform: scale(1.01);
  transition: 0.5s;
}
.wrapper-fixa {
  width: 1140px;
}
.img-empresa {
  width: 1280px;
}
@media only screen and (min-width: 767px) and (max-width: 959px) {
  #mpi,
  .quadro-2 {
    text-align: center;
  }
  embed {
    width: 100%;
    height: 225px;
    min-height: 225px;
  }
  #content-icons {
    width: 100%;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 20px 0;
    clear: both;
    height: auto;
  }
  .incomplete-box p {
    color: #fefefe;
    padding: 0 20px;
  }
  .wrapper-img {
    width: 100%;
    margin: 50px 0 0;
    height: auto;
  }
  .imagen-principal {
    display: none;
    margin-right: 0;
  }
  #mpi,
  .center-block,
  .wrapper-intro button {
    margin: 0 auto;
  }
  #mpi {
    max-width: 300px;
  }
  .main-center {
    flex-direction: column;
  }
  .quadro-2 h4 {
    color: #fff;
    font-size: 16px;
    font-family: "open sans", sans-serif;
  }
  #header-block,
  .fundo-contato,
  .hide-tablet,
  .incomplete-box::after,
  .incomplete-box::before,
  .js #menu,
  .js #menu2,
  .logo-top {
    display: none;
  }
  .thumbnails h2 {
    bottom: 0;
  }
  .wrapper-main {
    height: auto;
    padding-bottom: 0;
  }
  .wrapper-main-dg {
    padding-bottom: 10px;
  }
  .wrapper-main-dg .gallery {
    padding-left: 0;
  }
  .wrapper-above,
  .wrapper-copy,
  .wrapper-footer {
    width: 100%;
    margin: 0 auto;
  }
  .main-content {
    max-width: 955px;
    width: 100%;
    display: inline-block;
    padding: 10px 0;
  }
  .center-block {
    max-width: 95%;
    padding-left: 15px;
  }
  .busca-relacionadas {
    margin-bottom: 15px;
  }
  .wrapper {
    width: 95%;
  }
  .scroll-down {
    left: 45%;
  }
  .logo-mobile {
    display: block;
    margin: 0 auto;
  }
  .col-4,
  .col-m-4,
  .col-m-6 {
    width: 50%;
  }
  .incomplete-box {
    height: auto;
    margin: 0 auto;
    padding: 0;
    border: transparent;
    -moz-border-image: -moz-linear-gradient(top left, #ecf0f1 0%, #ffb100 100%);
    -webkit-border-image: -webkit-linear-gradient(
      top left,
      #ecf0f1 0%,
      #ffb100 100%
    );
    border-image: linear-gradient(to bottom right, #ecf0f1 0%, #ffb100 100%);
    border-image-slice: 1;
    font-size: 1.4em;
    width: 100%;
  }
  .incomplete-box img {
    width: 90%;
    height: auto;
    margin-bottom: 52px;
  }
  .quadro-1 {
    border: 8px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #ecf0f1 0%, #ffb100 100%);
    -webkit-border-image: -webkit-linear-gradient(
      top left,
      #ecf0f1 0%,
      #ffb100 100%
    );
    border-image: linear-gradient(to bottom right, #ecf0f1 0%, #ffb100 100%);
    border-image-slice: 1;
    font-size: 1.4em;
    width: 50%;
    padding: 0 20px;
    margin: 0 auto;
  }
  .quadro-2,
  header .logo,
  header .right {
    width: 100%;
  }
  .quadro-1 h3 {
    padding: 10px 0;
    color: #1c6299;
    font-size: 1.4em;
  }
  .lista-h4 {
    padding: 20px 0;
  }
  .quadro-2 {
    min-width: 100%;
    background: #f1f1f1;
    color: #fff;
    font-size: 1em;
    padding: 10px 0 37.5px;
    margin: 0 auto;
    height: auto;
    border-radius: 5px;
  }
  .quadro-2 h3 {
    color: #fff;
    font-size: 1.4em;
    padding: 5px 0 0;
  }
  .quadro-2 p {
    color: #333;
    font-size: 1em;
    text-align: justify;
  }
  .gallery li,
  article img,
  header .logo,
  header .right {
    text-align: center;
  }
  .btn-4 {
    color: #fff;
    overflow: hidden;
    background-color: #ecc40b;
    margin: 35px 10px 20px;
  }
  .gallery li {
    float: left;
    transition: 0.3s;
    margin: 5px;
  }
  .gallery li:hover {
    opacity: 0.9;
    transform: scale(1.1);
  }
  .gallery li img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    margin: 0 12px;
  }
  .wrapper h1 {
    box-sizing: border-box;
    padding: 0;
    font-size: 25px;
    line-height: 40px;
  }
  .wrapper-btn {
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
  }
  #servicosTabsDois .nav li a,
  .btn-intro,
  .btn-saiba {
    padding: 10px;
  }
  .btn-intro {
    width: 30%;
    height: 25px;
    margin: 20px auto 10px;
    color: #fff;
  }
  .btn-saiba {
    background-color: transparent;
    width: 40%;
    height: 55px;
    border: 3px solid #fff;
    color: #fff;
    margin-top: 20px;
  }
  .btn-saiba:hover {
    background-color: #fff;
    color: #1c4183;
  }
  .btn-quadro {
    width: 80%;
    height: 55px;
    color: #fff;
    margin: 25px auto;
  }
  .btn-quadro:hover {
    background-color: #d06302;
    color: #fff;
  }
  header .right a {
    margin: 0 10px;
  }
  header .logo img {
    margin-top: 10px;
  }
  header nav a {
    padding: 10px 0;
    width: 142px;
  }
  article img {
    max-width: 100%;
  }
  .js .slicknav_menu {
    display: block;
    z-index: 11;
  }
  .contact-footer a {
    color: #fff;
    text-decoration: none;
  }
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
  .topofixo {
    position: relative;
  }
}
@media only screen and (max-width: 765px) {
  #header-block,
  .clear,
  .col-1,
  .col-2,
  .fundo-contato,
  .hide-mobile,
  .imagen-principal,
  .incomplete-box::after,
  .incomplete-box::before,
  .js #menu,
  .js #menu2,
  .logo-top,
  .owl-pagination,
  header .topo .social {
    display: none;
  }
  .logo-mobile {
    display: block;
    margin: 0 auto;
  }
  .form-flex {
    flex-direction: column;
    padding-left: 5px;
  }
  .title-main h1 {
    margin-top: 5px;
    width: 95%;
    text-align: center;
  }
  .box-produto .grid .col-3 a img {
    width: 183px;
    height: 183px;
    padding: 0 0 0 75px;
    margin: 0 auto;
  }
  .busca-relacionadas {
    margin-bottom: 15px;
  }
  .wrapper-main {
    height: auto;
    padding-bottom: 0;
  }
  .form,
  .thumbnails img,
  .wrapper {
    width: 100%;
  }
  .wrapper-intro p {
    padding: 10px 0 10px 10px;
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
  }
  .contact,
  .gallery,
  .gallery li,
  .incomplete-box {
    padding: 0;
  }
  .main-content {
    width: auto;
    display: inline-block;
  }
  .scroll-down {
    left: 50%;
  }
  [class*="col-"] {
    width: 100% !important;
  }
  .wrapper-footer {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }
  .wrapper-copy {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
  }
  .quadro-1 {
    margin: 0 auto;
    -webkit-box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 62px 0 rgba(0, 0, 0, 0.3);
  }
  .quadro-2 {
    margin: 0 auto;
    border-radius: 5px;
    width: 50%;
  }
  .btn-4 {
    color: #fff;
    overflow: hidden;
    margin: 70px auto;
  }
  .conheca ul {
    margin: 0 auto;
    display: flex;
    max-width: 100%;
  }
  .gallery li,
  .gallery ul {
    text-align: center;
    display: inline-block;
  }
  .conheca-bloco li {
    float: left;
    width: 100px;
    margin: 10px 10px 30px;
    text-align: center;
  }
  .gallery ul {
    list-style: none;
    width: 100%;
    margin: 0;
  }
  .incomplete-box {
    width: 95%;
    margin: 0 auto;
    height: auto;
    border: transparent;
    box-shadow: none;
    border-radius: 6px;
  }
  .incomplete-box img {
    max-width: 340px;
    min-width: 300px;
  }
  .incomplete-box h3 {
    font-size: 1.4em;
    text-transform: uppercase;
  }
  .form-conteudo {
    width: 95%;
    height: auto;
  }
  .form-conteudo-1 {
    width: 95%;
    height: auto;
    float: left;
    margin: 0 0 0 5px;
  }
  .form-style-5 h1 {
    font-size: 1.6em;
    color: #595959;
    text-transform: uppercase;
    line-height: 1.2em;
    max-width: 100%;
    margin: 0 10px;
    padding: 0;
  }
  .form-style-5 p {
    color: #595959;
    text-align: left;
    font-weight: 900;
    margin: 0 10px;
  }
  .form-style-5 {
    background: #fff;
    display: block;
    margin: 0;
  }
  .form-style-5 fieldset {
    width: 95%;
    border: none;
    padding: 10px 0 0 10px;
    background: #333;
  }
  .form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  .form-style-5 label {
    display: block;
    margin-bottom: 8px;
  }
  .form-style-5 input[type="date"],
  .form-style-5 input[type="datetime"],
  .form-style-5 input[type="email"],
  .form-style-5 input[type="number"],
  .form-style-5 input[type="search"],
  .form-style-5 input[type="text"],
  .form-style-5 input[type="time"],
  .form-style-5 input[type="url"],
  .form-style-5 select {
    background: #fff;
    border: 1px solid #b2b2b2;
    font-size: 12px;
    outline: 0;
    height: 50px;
    padding: 0 5px;
    width: 95%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #000;
    margin: 10px auto;
  }
  .form-style-5 textarea {
    background: #e5e5e5;
    height: 200px;
    width: 95%;
    margin: 10px auto;
    border: 1px solid #b2b2b2;
  }
  .form-style-5 input[type="date"]:focus,
  .form-style-5 input[type="datetime"]:focus,
  .form-style-5 input[type="email"]:focus,
  .form-style-5 input[type="number"]:focus,
  .form-style-5 input[type="search"]:focus,
  .form-style-5 input[type="text"]:focus,
  .form-style-5 input[type="time"]:focus,
  .form-style-5 input[type="url"]:focus,
  .form-style-5 select:focus {
    background: #e5e5e5;
    height: 50px;
  }
  .form-style-5 select {
    -webkit-appearance: menulist-button;
    height: 35px;
  }
  .form-style-5 input[type="button"],
  .form-style-5 input[type="submit"] {
    display: block;
    padding: 19px 39px 18px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    margin: 10px 0;
    border-width: 1px 1px 3px;
    min-width: 95%;
    height: 55px;
  }
  .wrapper-intro {
    margin: 0 auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: "Open Sans", sans-serif;
    height: auto;
    min-height: 650px;
  }
  .wrapper-intro h1 {
    font-size: 1.8em;
    letter-spacing: 12px;
    padding: 0 10px;
    margin-top: 50px;
    max-width: 100%;
  }
  .wrapper-btn {
    padding: 10px;
    margin: 0 auto;
  }
  .btn-intro {
    width: 181px;
    height: 25px;
    margin: 21px;
    padding: 10px;
  }
  .btn-quadro,
  .btn-saiba {
    background-color: transparent;
    height: 55px;
    border: 3px solid #fff;
    color: #fff;
  }
  .btn-saiba {
    width: 99%;
    margin-left: 0;
  }
  .btn-saiba:hover {
    background-color: #fff;
    color: #333;
  }
  .btn-quadro {
    width: 95%;
    margin: 50px 10px;
  }
  .gallery,
  .gallery li img,
  header .logo a {
    margin: 0 auto;
  }
  .btn-quadro:hover {
    background-color: #fff;
    color: #1c4183;
  }
  .topofixo {
    position: relative;
  }
  .title-breadcrumb h1 {
    box-sizing: border-box;
    padding: 5px;
  }
  .copyright-footer .selos,
  .title-breadcrumb #breadcrumb,
  .topo .fright {
    float: none;
  }
  header .logo {
    width: 100%;
    display: block;
    text-align: center;
  }
  header .logo img {
    margin-top: 20px;
    max-width: 100%;
  }
  header .right {
    width: 100%;
    text-align: center;
  }
  .copyright-footer,
  .topo,
  footer .wrapper {
    text-align: center;
  }
  article {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  aside {
    width: 100%;
    margin: 0;
  }
  .gallery {
    max-width: 400px;
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .gallery img {
    margin: 10px 5px;
    width: 100%;
  }
  .gallery li {
    margin: 10px 0;
  }
  .thumbnails li {
    width: 100%;
    margin: 50px;
  }
  .thumbnails {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }
  footer .menu-footer nav li {
    display: block;
    background: rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    text-align: center;
    padding: 10px 20px;
  }
  .contact-footer {
    float: none;
    margin-right: 0;
  }
  .contact-form,
  footer .social {
    float: none;
    width: 100%;
  }
  .copyright-footer .selos a {
    float: none;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    margin: 10px 30px;
  }
  footer .social .social-icons {
    float: none;
    padding: 10px 0;
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
  .contact-footer a {
    color: #fff;
    text-decoration: none;
  }
  .js .slicknav_menu {
    display: block;
    height: 100%;
  }
  #servicosTabsDois .nav li a {
    padding: 8px;
    font-size: 13px;
    width: 100%;
  }
}
.wrapper-footer {
  max-width: 100%;
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-main-dg {
  padding-bottom: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
  color: #fff;
  font-weight: 700;
}
.slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_no-text {
  margin: 0;
}
.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.155em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.158em;
}
.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
}
.imagens-galeria div,
.slicknav_nav .slicknav_item {
  cursor: pointer;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  display: inline;
  padding: 0;
  margin: 0;
}
.slicknav_btn {
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer;
  margin: 5px 5px 6px;
  -moz-border-radius: 5px;
  background-color: #c7955d;
  border-radius: 5px;
}
.slicknav_menu {
  font-size: 16px;
  background: #eeb26f;
  padding: 5px;
}
.slicknav_nav {
  clear: both;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
}
.slicknav_nav,
.slicknav_nav ul {
  list-style: none;
  overflow: hidden;
}
.slicknav_nav ul {
  padding: 0;
  margin: 0 0 0 20px;
}
.slicknav_nav .slicknav_row,
.slicknav_nav a {
  margin: 2px 5px;
  padding: 5px 10px;
}
.slicknav_nav a {
  color: #fff;
}
.slicknav_nav .slicknav_row:hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #c7955d;
  color: #fff;
}
.slicknav_nav a:hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}
.bg-blue {
  background-color: #1c6299;
}
.wrapper-intro {
  height: 100vh;
  min-height: 550px;
}
.just {
  text-align: justify;
}
.box-footer {
  float: left;
  width: 20%;
  margin: 20px 5px;
}
.box-footer2 h2 {
  margin: 20px 0 60px;
}
.box-footer-menor {
  float: left;
  width: 15%;
  margin: 20px 5px;
}
.videos a {
  font-size: 14px;
  color: #555;
  text-decoration: none;
  font-weight: 600;
}
.aviso {
  color: #333;
  font-size: 12px;
  clear: both;
  display: inline-block;
}
.busca-relacionadas a {
  margin: 0 5px;
}
.grid .col-9 h2 {
  font-size: 1em;
}
.grid .col-9 h3 {
  font-size: 0.8em;
}
.bg-buscar button {
  background: 0 0;
  font-size: 20px;
  color: #444;
}
.bg-buscar input {
  font-style: italic;
  font-size: 20px;
  padding: 10px 0;
  width: 97%;
  color: #444;
}
.bg-buscar {
  width: 70%;
  background: #fff;
  padding: 5px 10px;
  float: left;
  margin: 15px;
  border-radius: 5px;
}
@media only screen and (max-width: 765px) {
  .copyright-footer,
  .copyright-footer .wrapper,
  .topo,
  footer .menu-footer nav li,
  footer .wrapper,
  header .logo,
  header .right {
    text-align: center;
  }
  #scrollUp,
  .hide-mobile,
  .mapa {
    display: none;
  }
  footer ul li {
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.5);
    margin: 5px 0;
  }
  footer .btn-azul,
  footer .btn-verde {
    width: 80%;
    margin: 0 5px;
  }
  .box-footer,
  .box-footer-menor {
    float: none;
    margin: 10px 0;
    width: 100%;
  }
  .box-produto .botao {
    margin: 10px 0;
    padding: 10px;
  }
  .bg-buscar input,
  .owl-pagination {
    width: 92%;
  }
  .bg-buscar {
    width: 91%;
    margin: 5px;
  }
  .video-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .thumbnails h2 {
    position: relative;
    margin: 0 auto !important;
  }
  .thumbnails li .botao,
  .thumbnails li .botao-cotar {
    position: relative;
    margin: 50px auto;
    justify-content: center;
  }
  .gallery img,
  .title-breadcrumb h1,
  article,
  aside {
    box-sizing: border-box;
    padding: 5px;
    margin: 0 auto;
  }
  .title-breadcrumb #breadcrumb,
  .topo .fright {
    float: none;
  }
  section img {
    max-width: 100%;
    box-shadow: none;
  }
  aside {
    margin: 0;
    display: none !important;
  }
  .gallery li {
    width: 45%;
  }
  .thumbnails li {
    width: 90%;
    margin: 10px 0;
  }
  .thumbnails {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }
  .form,
  .representante,
  .thumbnails img {
    width: 100%;
  }
  footer .menu-footer nav li {
    display: block;
    background: rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    padding: 10px;
  }
  .contact-form,
  footer .social {
    float: none;
    width: 100%;
  }
  .copyright-footer .selos {
    float: none;
    margin: 10px 0;
    width: 95%;
  }
  .copyright-footer .selos a {
    float: none;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    margin: 10px 0;
  }
  footer .social .social-icons {
    float: none;
    padding: 10px 0;
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
  .contact-footer a {
    color: #fff;
    text-decoration: none;
  }
  .contact-footer {
    float: none;
    margin-right: 0;
  }
  #servicosTabsDois .nav li a {
    padding: 8px;
    font-size: 13px;
    width: 100%;
  }
  #select-mapa {
    display: block;
    border: 1px solid #ccc;
    width: 100%;
  }
  .contact {
    padding: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .fig-img,
  .fig-img2 {
    height: 100%;
    background: rgba(0, 0, 0, 0.24);
    padding: 10px;
  }
  #content-icons,
  .fig-img,
  .fig-img2,
  .grid,
  .mpi-produtos-1 img,
  .mpi-produtos-2 img {
    max-width: 100%;
  }
  .quadro-icons,
  .video-flex {
    min-width: 100%;
  }
  .grid {
    width: 360px;
  }
  .center-footer {
    margin-right: 0 !important;
    display: inline-flex;
    flex-direction: column;
    margin-top: 20px !important;
  }
  #breadcrumb,
  .quadro-icons {
    margin: 10px auto;
  }
  .quadro-icons {
    border-radius: 6px;
  }
  .mpi-produtos-2 p {
    padding: 0 40px;
  }
  .title-main h1 {
    margin-top: 5px;
    font-size: 23px;
    width: 95%;
    text-align: center;
  }
  .fig-img h2,
  .fig-img2 h2 {
    opacity: 1;
    text-transform: uppercase;
    text-align: center;
    margin-top: 65px;
    font-size: 1.6em;
    text-shadow: 2px 2px 2px #333;
  }
  .produtos-relacionados-1 a,
  .produtos-relacionados-2 a,
  .produtos-relacionados-3 a {
    width: 100%;
  }
  .incomplete-box p {
    color: #333;
    padding: 0 5px;
  }
  input[type="button"],
  input[type="submit"] {
    margin-left: 0;
  }
  .fig-img {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    float: right;
    text-align: right;
  }
  .fig-img h2,
  .fig-img2 {
    flex-direction: column;
    font-weight: 700;
    display: flex;
  }
  .fig-img h2 {
    color: #ebedf1;
  }
  .fig-img2 {
    width: 400px;
    text-align: left;
  }
  .fig-img2 h2 {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 700;
  }
  #content-icons {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    clear: both;
  }
  .btn-5,
  .btn-6 {
    margin: 50px auto;
  }
  .content {
    position: relative;
    margin: 0 auto;
  }
  .wrapper-img {
    margin: 20px 0 0;
  }
  .imagen-principal {
    display: none;
    margin-right: 0;
    width: 25%;
    height: 25%;
  }
  .destaque {
    border-radius: 0;
    max-width: 95%;
  }
  .main-center {
    max-width: 100%;
    flex-direction: column;
  }
  .wrapper-img {
    width: 100%;
    height: auto;
  }
  .main-content p {
    max-width: 100%;
    margin: 0;
    padding: 5px 0;
  }
  #fundo-contato,
  .col-1,
  .col-2,
  .fundo-contato {
    display: none;
  }
  .article,
  .video-flex {
    display: block;
  }
  embed {
    max-width: 420px;
    min-width: 260px;
    height: 225px;
    min-height: 225px;
  }
  .wrapper-intro .wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 0;
    max-height: 625px;
    display: flex;
    flex-direction: column;
  }
  .wrapper-intro h2 {
    padding: 0 9.5px;
  }
  .quadro-2 {
    box-shadow: none;
    width: 95%;
    padding: 0;
    margin: 10px auto;
  }
  .thumbnails h2 {
    position: relative;
    margin: 0 auto !important;
  }
  .form-flex {
    padding-left: 15px;
  }
  .busca-relacionadas {
    margin-bottom: 40px;
    clear: both;
  }
  [class*="col-"] {
    width: 100% !important;
  }
  .form-style-5 {
    width: 95%;
    margin: 0 auto;
  }
  .form-style-5 h2 {
    margin: 0;
  }
  .btn-quadro-menu {
    width: 50px;
    height: 55px;
  }
  .btn-quadro-menu:hover {
    background-color: #fff;
    color: #ecf0f1;
  }
  [class*="col-"] {
    max-width: 100%;
    margin-left: 10px;
  }
  #slide-show {
    height: 880px;
  }
}
.tabela,
.tg td {
  line-height: 30px;
  text-align: center;
}
.active-menu-topo {
  color: #32326b;
  font-weight: 700;
}
.active-menu-aside {
  color: #333;
  font-weight: 600;
}
.tg td,
.tg th {
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
}
.tg {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}
.mapa,
.mapa img {
  width: 400px;
}
.tg td {
  font-size: 12px;
  color: #1c1c5b;
}
.tg th {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 5px;
}
.tg .tg-kf0f {
  background-color: #3166ff;
  color: #000;
}
.tabela {
  background: #658fbe;
}
.tabela p {
  text-align: center;
  line-height: normal;
}
.tabela-conteudo {
  background: #e5ecf4;
  padding: 0;
}
.mapa {
  float: right;
}
.mapa a {
  color: #fff;
  background: #c00;
  padding: 3px;
  border-radius: 5px;
}
.mapa #position-ac {
  position: absolute;
  top: 154px;
  left: 25px;
}
.mapa #position-al {
  position: absolute;
  top: 158px;
  right: 5px;
}
.mapa #position-ap {
  position: absolute;
  top: 42px;
  right: 164px;
}
.mapa #position-am {
  position: absolute;
  top: 95px;
  left: 90px;
}
.mapa #position-ba {
  position: absolute;
  top: 175px;
  right: 66px;
}
.mapa #position-ce {
  position: absolute;
  top: 100px;
  right: 46px;
}
.mapa #position-df {
  position: absolute;
  top: 202px;
  left: 244px;
}
.mapa #position-es {
  position: absolute;
  bottom: 154px;
  left: 335px;
}
.mapa #position-go {
  position: absolute;
  bottom: 182px;
  left: 220px;
}
.mapa #position-ma {
  position: absolute;
  top: 102px;
  left: 275px;
}
.mapa #position-mt {
  position: absolute;
  bottom: 222px;
  right: 200px;
}
.mapa #position-ms {
  position: absolute;
  bottom: 152px;
  right: 190px;
}
.mapa #position-mg {
  position: absolute;
  bottom: 170px;
  right: 90px;
}
.mapa #position-pa {
  position: absolute;
  top: 105px;
  left: 200px;
}
.mapa #position-pb {
  position: absolute;
  top: 120px;
  right: 0;
}
.mapa #position-pr {
  position: absolute;
  bottom: 111px;
  right: 164px;
}
.mapa #position-pe {
  position: absolute;
  top: 139px;
  right: 0;
}
.mapa #position-pi {
  position: absolute;
  top: 130px;
  right: 75px;
}
.mapa #position-rj {
  position: absolute;
  bottom: 122px;
  left: 312px;
}
.mapa #position-rn {
  position: absolute;
  top: 98px;
  right: 12px;
}
.mapa #position-rs {
  position: absolute;
  bottom: 60px;
  right: 180px;
}
.mapa #position-ro {
  position: absolute;
  top: 165px;
  left: 100px;
}
.mapa #position-rr {
  position: absolute;
  top: 35px;
  left: 120px;
}
.mapa #position-sc {
  position: absolute;
  bottom: 82px;
  right: 138px;
}
.mapa #position-sp {
  position: absolute;
  bottom: 135px;
  right: 135px;
}
.mapa #position-se {
  position: absolute;
  top: 175px;
  right: 22px;
}
.mapa #position-to {
  position: absolute;
  top: 158px;
  right: 130px;
}
.representante {
  float: left;
  width: 450px;
}
#select-mapa {
  border: 1px solid #ccc;
  width: 100%;
}
.drop-list li {
  background: #2a60c2;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}
.drop-list li a {
  color: #fff;
  display: block;
}
.drop-list li ul li {
  background: #e8f0f7;
}
.drop-list li ul li .gallery li {
  width: auto;
}
.drop-list li ul li .list li {
  margin: 0;
  padding: 0;
  width: auto;
}
.form-cotacao {
  font-size: 14px;
  background: #eee;
  border: 1px solid #e5e5e5;
  padding: 10px 20px;
}
.form-cotacao fieldset {
  border: 1px solid #ccc;
  padding: 5px 2px;
}
.form-cotacao h4 {
  padding-left: 25px;
  margin: 0 0 20px;
}
.form-cotacao label {
  text-align: right;
  width: 400px;
  display: block;
  padding-left: 25px;
}
.form-cotacao input,
.form-cotacao textarea {
  width: 327px;
  font-size: 14px;
  padding: 5px 2px;
  vertical-align: top;
}
.form-cotacao p {
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
}
#box-cotacao-enviada {
  background-color: #ddf7d6;
  border: 1px solid #4ab549;
}
.form-cotacao textarea {
  height: 205px;
  width: 310px;
}
.error-message {
  color: red;
  font-size: 12px;
}
.success-message {
  color: green;
  font-size: 14px;
}
.botao-cotar-destaque,
a.botao-cotar {
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
a.botao-cotar {
  padding: 10px 15px;
  margin: auto;
  font-size: 14px;
  background-color: #078700;
  cursor: pointer;
}
.div-market i,
.div-star i {
  padding-top: 6px;
  color: grey;
}
div#CotacaoGratis {
  background-color: #f2f2f2;
  margin-bottom: 15px;
  padding: 5px 30px 450px;
}
.landing {
  float: left;
  padding: 6px;
  margin: 33px 20px 33px 10px;
  background: #fff;
  width: 450px;
  display: block;
}
.botao-cotar-destaque {
  padding: 13px 85px;
  font-size: 15px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #f98c18;
  text-decoration: none;
  float: left;
}
.texto-destaque,
.texto-destaque1 {
  font-size: 17px;
  margin-right: 7px;
  padding-right: 10px;
}
.texto-destaque {
  margin-top: 21px;
  padding-top: 20px;
  text-align: left;
}
.texto-destaque1 {
  text-align: left;
}
.lista-destaque {
  list-style: disc;
  margin-bottom: 23px;
  margin-left: 512px;
}
.li-destaque,
.li-destaque-star {
  font-size: 15px;
  list-style: none;
  color: #427bbe;
  float: left;
}
.fundo-destaque {
  background: #eee;
  height: 377px;
}
.img-destaque {
  height: 299px;
  width: 450px;
  display: block;
}
.li-destaque {
  width: 50%;
  margin: 10px 0;
  padding-left: 13px;
}
.div-market,
.div-star {
  height: 55px;
  width: 40px;
}
.li-destaque-star {
  margin: 10px 270px 0 0;
}
.p-destaque {
  margin-top: 0;
  color: #333;
}
.div-market {
  float: left;
}
.div-market i {
  font-size: 53px;
  float: left;
  margin-left: 6px;
}
.div-star i {
  font-size: 45px;
  padding-right: 10px;
  float: left;
}
.div-avaliacao i,
.li-destaque-star i {
  color: gold;
}
.div-avaliacao {
  margin-top: 5px;
}
.tmbs {
  -webkit-filter: grayscale(100%);
}
.tmbs:hover {
  -webkit-filter: grayscale(0%);
  transition: 1s;
}
.tmbs-carol {
  float: right;
  padding-right: 20px;
  padding-left: 20px;
  display: block;
  cursor: pointer;
}
.div-thumbs {
  border-top: 3px solid #eee;
  display: block;
  padding-top: 3px;
}
.imagens-galeria .owl-nav {
  top: -50px;
  right: 8px;
}
.imagens-galeria .owl-item {
  border: 1px solid #ddd;
}
.imagens-galeria .thumbs {
  height: 65px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  transition: 0.5s;
}
.imagens-galeria .thumbs:hover {
  box-shadow: 0 0 5px #1a1a1a;
}
.imagens-galeria .thumbs img {
  width: 300%;
  margin: auto;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
}
.ilustrativa {
  font-size: 10px;
  display: block;
}
.center-footer {
  margin-bottom: 20px;
  align-items: center;
  margin-right: 80px;
  display: flex;
  margin-top: 10px;
}
.center-footer p {
  display: inline-block;
  margin: 10px 20px 0;
  font-size: 1.4em;
  color: #fff;
}
.gsc-input-box {
  background: #fff;
  height: 28px;
  margin-left: 10px;
}
.cd-hero,
.cd-hero-slider {
  height: 100vh;
  position: relative;
}
.gsib_a {
  width: 100%;
  padding: 0 !important;
}
.gsc-search-button .gsc-search-button-v2 {
  width: 66px !important;
  height: 29px;
  border: 1px solid #ddd;
  border-radius: 2px;
  cursor: pointer !important;
}
.gsc-search-button,
table.gsc-search-box td {
  cursor: pointer !important;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
  height: 30px !important;
}
.title-main h1 {
  position: absolute;
  margin-top: 120px;
  z-index: 999;
  font-size: 45px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  margin-left: 200px;
}
.cd-slider-nav i {
  margin-left: 31px;
}
.figure2 {
  justify-content: flex-start;
}
.titulo-lista {
  font-size: 25px;
  text-transform: uppercase;
  padding: 13px 5px 5px;
  border-bottom: 2px solid #dc6b0e;
  border-top: 3px solid #dc6b0e;
  background: #ffdcbf;
}
.cd-hero,
.cd-hero-slider li,
.cd-hero-slider li:first-of-type {
  background-position: center center;
}
.cd-hero,
.cd-hero-slider li,
.cd-hero-slider li:first-of-type,
.cd-hero-slider li:nth-of-type(2),
.cd-hero-slider li:nth-of-type(3) {
  background-size: cover;
  background-repeat: no-repeat;
}
.aside-mpi li {
  border-bottom: 1px solid #dc6b0e;
}
.cd-hero {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-hero-slider {
  overflow: hidden;
}
.cd-hero-slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-hero-slider li.selected {
  position: relative;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-hero-slider li.move-left {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.cd-hero-slider li.is-moving,
.cd-hero-slider li.selected {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
.cd-hero-slider li:first-of-type::before,
.cd-hero-slider li:nth-child(2)::before,
.cd-hero-slider li:nth-child(3)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com 50% de opacidade */
  z-index: 1;
}
.cd-hero-slider li:first-of-type {
  background-color: #fff;
  background-image: url(../imagens/slider/mesas-de-marmore.jpg);
}
.cd-hero-slider li:nth-of-type(2) {
  background-color: #fff;
  background-image: url(../imagens/slider/balcoes-de-marmore.jpg);
  background-position: top center;
}
.cd-hero-slider li:nth-of-type(3) {
  background-color: #fff;
  background-image: url(../imagens/slider/escadas-de-marmore.jpg);
  background-position: center center;
}
.cd-hero-slider .cd-full-width,
.cd-hero-slider .cd-half-width {
  position: absolute;
  width: 100%;
  max-width: 1180px;
  box-sizing: border-box;
  padding: 100px 10px 0;
  height: 100%;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-hero-slider .cd-img-container img {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cd-hero-slider .cd-bg-video-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cd-slider-nav li,
.cd-slider-nav nav {
  display: inline-block;
}
.cd-hero-slider .cd-bg-video-wrapper video {
  display: block;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: auto;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cd-hero-slider h2,
.cd-hero-slider p {
  line-height: 1.2;
  margin: 0;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  width: 75%;
}
.cd-hero-slider h2 {
  font-size: 2.4rem;
}
.cd-hero-slider p {
  font-size: 1.4rem;
  line-height: 1.4;
}
.cd-hero-slider .cd-btn {
  text-decoration: none;
  display: inline-block;
  padding: 0.7em 3.4em;
  margin-top: 0.8em;
  background-color: #078700;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 2px;
  letter-spacing: 1px;
  cursor: pointer;
  color: #fff;
  float: left;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-hero-slider .cd-btn.secondary {
  background-color: rgba(22, 26, 30, 0.8);
}
.cd-hero-slider .cd-btn:nth-of-type(2) {
  margin-left: 1em;
}
.no-touch .cd-hero-slider .cd-btn.secondary:hover {
  background-color: #161a1e;
}
@media only screen and (max-width: 767px) {
  .cd-slider-nav a {
    padding: 15px 0 !important;
  }
  .cd-slider-nav i {
    margin-left: 21px;
  }
  .cd-hero-slider .cd-full-width,
  .cd-hero-slider .cd-half-width {
    padding-top: 60px;
  }
  .cd-hero-slider p {
    width: 100%;
    font-size: 1em;
  }
  .cd-hero-slider h2 {
    margin: 10px 0;
    width: 100%;
    font-size: 16px;
    margin-top: 80px;
  }
  .cd-hero-slider .cd-btn {
    float: none;
    font-size: 1.1rem;
  }
}
.cd-slider-nav {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
  text-align: center;
  height: 55px;
  background-color: rgba(0, 1, 1, 0.5);
}
.ReadMore,
.btn-ver,
.cd-slider-nav a,
.cd-slider-nav nav,
.svgVideo {
  position: relative;
}
.cd-slider-nav .cd-marker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 100%;
  color: #eeb26f;
  background-color: #ffffff14;
  box-shadow: inset 0 2px 0 currentColor;
  -webkit-transition: -webkit-transform 0.2s, box-shadow 0.2s;
  -moz-transition: -moz-transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
}
.cd-slider-nav .cd-marker.item-2 {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-slider-nav .cd-marker.item-3 {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.cd-slider-nav .cd-marker.item-4 {
  -webkit-transform: translateX(300%);
  -moz-transform: translateX(300%);
  -ms-transform: translateX(300%);
  -o-transform: translateX(300%);
  transform: translateX(300%);
}
.cd-slider-nav .cd-marker.item-5 {
  -webkit-transform: translateX(400%);
  -moz-transform: translateX(400%);
  -ms-transform: translateX(400%);
  -o-transform: translateX(400%);
  transform: translateX(400%);
}
.cd-slider-nav ul::after {
  clear: both;
  content: "";
  display: table;
}
.cd-slider-nav li {
  width: 60px;
  float: left;
}
.cd-slider-nav li.selected a {
  color: #eeb26f;
}
.cd-slider-nav a {
  display: block;
  padding-top: 35px;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.no-touch .cd-slider-nav a:hover {
  background-color: rgba(0, 1, 1, 0.5);
  padding-bottom: 5px;
}
.cd-slider-nav li:first-of-type a::before {
  background-position: 0 0;
}
.cd-slider-nav li.selected:first-of-type a::before {
  background-position: 0 -24px;
}
.cd-slider-nav li:nth-of-type(2) a::before {
  background-position: -24px 0;
}
.cd-slider-nav li.selected:nth-of-type(2) a::before {
  background-position: -24px -24px;
}
.cd-slider-nav li:nth-of-type(3) a::before {
  background-position: -48px 0;
}
.cd-slider-nav li.selected:nth-of-type(3) a::before {
  background-position: -48px -24px;
}
.cd-slider-nav li:nth-of-type(4) a::before {
  background-position: -72px 0;
}
.cd-slider-nav li.selected:nth-of-type(4) a::before {
  background-position: -72px -24px;
}
.cd-slider-nav li:nth-of-type(5) a::before {
  background-position: -96px 0;
}
.cd-slider-nav li.selected:nth-of-type(5) a::before {
  background-position: -96px -24px;
}
@media only screen and (min-width: 768px) {
  .cd-hero-slider {
    height: 100vh;
  }
  .cd-hero-slider .cd-bg-video-wrapper,
  .cd-hero-slider .cd-img-container {
    display: block;
  }
  .cd-hero-slider .cd-full-width,
  .cd-hero-slider .cd-half-width {
    padding-top: 14%;
  }
  .cd-hero-slider .cd-half-width {
    width: 45%;
  }
  .cd-hero-slider .cd-half-width:first-of-type {
    left: 5%;
  }
  .cd-hero-slider .cd-half-width:nth-of-type(2) {
    right: 5%;
    left: auto;
  }
  .cd-hero-slider h2,
  .cd-hero-slider p {
    width: 75%;
    font-size: 15px;
  }
  .cd-hero-slider h2 {
    font-size: 1.2em;
    font-weight: 700;
    text-align: left;
  }
  .cd-hero-slider .cd-btn {
    font-size: 1rem;
    float: none;
  }
  .cd-slider-nav {
    height: 60px;
  }
  .cd-slider-nav .cd-marker,
  .cd-slider-nav li {
    width: 80px;
  }
  .cd-slider-nav a {
    padding-top: 20px;
    height: 34px;
    padding-bottom: 6px;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  .cd-slider-nav a::before {
    top: 18px;
  }
}
.cd-main-content {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
  padding: 2em 0;
}
.cd-main-content p {
  font-size: 1.4rem;
  line-height: 1.8;
  color: #999;
  margin: 2em 0;
}
@media only screen and (min-width: 1170px) {
  .cd-hero-slider {
    height: 100vh;
  }
  .cd-hero-slider .cd-full-width,
  .cd-hero-slider .cd-half-width {
    padding-top: 190px !important;
  }
  .cd-hero-slider h2,
  .cd-hero-slider p {
    margin-bottom: 20px;
  }
  .cd-hero-slider h2 {
    font-size: 1.6em;
  }
  .cd-hero-slider p {
    font-size: 1.3rem;
  }
  .cd-main-content {
    padding: 3em 0;
  }
  .cd-main-content p {
    font-size: 1.6rem;
  }
}
.video-mpi {
  display: flex;
  margin: 0 auto;
}
.sitemap li ul li {
  margin-left: 15px;
}
.titulo-site-map {
  color: #333;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
}
.footer-p {
  color: #c5bec4;
}
.produtos-destaque-wrapper {
  background-color: #eee;
}
.products {
  max-width: 80%;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px auto 0;
  height: auto;
}
#product-title {
  width: 100%;
  display: flex;
  margin: 3% auto 2%;
  font-size: 2em;
  justify-content: center;
}
.product-detail {
  padding: 12px 12px 18px;
  display: inline-block;
  flex: 1;
  text-align: center;
  box-shadow: 1px 1px 8px #ccc;
  border-radius: 2px;
}
.product-detail img {
  position: relative;
  top: 5px;
  height: 200px;
  display: flex;
  margin: auto;
}
.product-detail img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.product-detail h4 {
  color: #333;
  text-transform: none;
}
.product-detail p {
  text-align: left;
  text-transform: none;
  height: 55px;
}
.btn-ver {
  background-color: #64656e;
  padding: 10px 60px;
  border-radius: 2px;
  color: #fff;
  top: -5px;
  box-shadow: 3px 6px 21px 0 #848484;
}
.btn-cotar,
.btn-tel {
  font-size: 16px;
  border: none;
  text-transform: uppercase;
}
.btn-ver:hover {
  background: #28435a;
  box-shadow: none;
}
.form-contato {
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .products {
    flex-direction: column;
    height: 420px;
  }
  .product-detail:not(:first-child) {
    max-width: 80%;
    margin: 5px auto;
    padding: 12px;
    box-shadow: 1px 1px 5px #ccc;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .btn-ver {
    padding: 10px;
  }
  .products {
    flex-direction: column;
    height: 420px;
  }
  .product-detail:not(:first-child) {
    max-width: 80%;
    margin: 5px auto;
    padding: 12px;
    box-shadow: 1px 1px 5px #ccc;
  }
}
@media only screen and (min-width: 1400px) {
  .cd-full-width {
    padding: 8% !important;
  }
  .cd-hero-slider p {
    width: 100% !important;
  }
  .cd-hero-slider h2 {
    font-size: 1.7em;
  }
}
@media only screen and (max-width: 1024px) {
  .title-main h1 {
    margin-top: 70px;
    margin-left: 13px;
  }
  .wrapper {
    width: 95%;
  }
  #fundo-contato {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .cd-hero-slider .cd-btn:nth-of-type(2) {
    margin-left: 0;
    margin-top: 0;
    padding: 0.7em 5.6em;
  }
  .wrapper-main h2 {
    margin: 10px 30px;
  }
  span.obrigatorio {
    color: #000;
  }
  #scrollUp {
    right: 13px;
  }
  .video-mpi {
    width: 100%;
  }
  .video-flex {
    flex-direction: column;
    width: 100%;
  }
  .thumbnails-mod17 {
    width: 100% !important;
  }
  .title-main h1 {
    margin-top: 20px;
    font-size: 25px;
  }
}
.btn-cotar,
.btn-tel,
.readmore-button:hover a {
  color: #fff;
}
@media only screen and (max-width: 560px) {
  .video-mpi {
    width: 100%;
  }
}
@media only screen and (max-width: 380px) {
  .video-mpi {
    width: 100%;
  }
  .title-main h1 {
    width: 95%;
    margin-top: 20px;
    font-size: 29px;
  }
}
#modal-alert.loading .modal-body h1 {
  margin-top: 25px;
}
.alert_widget span {
  background-color: #fff !important;
  color: #fff;
  height: 0 !important;
}
.aside-mpi {
  margin-top: 0;
  box-shadow: 0 0 0;
  margin-bottom: 15px;
}
.btn-cotar {
  padding: 20px;
  background: #e67e22;
  margin: 0;
  width: 100%;
}
.btn-tel {
  padding: 20px 0;
  background: #283658;
  width: 100%;
  margin-top: 28px;
}
.modal .modal-content {
  margin-top: 150px;
  color: #333;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .btn-cotar {
    font-size: 11px !important;
  }
}
.close {
  z-index: 1;
}
.fa-circle {
  border: 6px solid #a8b4be;
  display: inline-block;
  padding: 3px;
  border-radius: 50%;
  background: #a8b4be;
}
.fa-chevron-up {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: 12px;
}
@media (min-width: 768px) {
  header #menu2 {
    display: block;
  }
  .slicknav_menu {
    display: none;
  }
}
@media (max-width: 768px) {
  .aside-mpi {
    display: flex;
  }
  .api-mobile,
  .slicknav_menu {
    display: block;
  }
  .btn-cotar {
    margin: 5%;
    width: 100%;
  }
  .modal-title .col-11 {
    width: 80% !important;
  }
  header #menu2 {
    display: none;
  }
}
img.lazy {
  will-change: opacity;
  transition: 1s;
}
.arrumaImgVideo {
  width: 100%;
  height: 225px;
  object-fit: cover;
}
.svgVideo {
  top: -130px;
}
.iframe-lightbox-link:hover .svgVideo path {
  fill: red;
}
.nMudaCor {
  fill: #fff !important;
}
@media (max-width: 767px) {
  .svgVideo {
    width: 20% !important;
    margin: 0 auto 0 -30px;
    left: 50%;
  }
}
.ReadMore {
  height: 200px;
  overflow: hidden;
}
.ReadMore.collapsed::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: linear-gradient(to bottom, transparent, #fff);
}
.readmore-button {
  display: inline-block;
  color: #012f73;
  padding: 8px 20px;
  border: 1.5px solid #012f73 !important;
  border-radius: 8px;
  transition: 0.3s;
}
.readmore-button a {
  color: #012f73;
}
.readmore-button:hover {
  background-color: #012f73;
}
